main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "chat alerts";
}

section.chat{
	grid-area: chat;
}

section.alerts{
	grid-area: alerts;
}

body {
    overflow: hidden;
    margin: 0px;
}
canvas {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.game-text {
    position: absolute;
    top: 0px;
}

.player-score {
    color: #FFF;
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0);
}
